<div class="text-center my-5">
  <h3>ご注文内容の確認</h3>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>お受け取り日時</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
  </div>
</div>