<div class="text-center my-5" style="position: relative;">
  <%= image_tag 'sample-ribbon1.png', size: '450x60' %>
  <h3 style="position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%);">注文履歴詳細</h3>
</div>