<div class="container p-5">
  <div class="row text-center my-5">
    <div class="col-3 sm-2">
      <%= image_tag 'sample-design1.png', size: '290x15' %>
    </div>
    <div class="col-6">
      <h3>ご注文ありがとうございました !</h3>
    </div>
    <div class="col-3 sm-2">
      <%= image_tag 'sample-design1.png', size: '290x15' %>
    </div>

  </div>

  <!--<div class="row">-->
  <!--  <div class="col-4 my-4">-->
      <!--<h5>ご予約時間</h5><br>-->
      <%#= @order.receipt_date %><br><%#= @order.receipt_time %>
  <!--  </div>-->
  <!--</div>-->
  <div class="row text-center mb-4">
    <div class="col-12">
      <span style="color: red;"><h4>テイクアウト注文お受け取りの際のご注意事項</h4></span>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      ・受け取り場所と時間：テイクアウト受け取り場所は店舗入口付近です。お時間に余裕を持ってお越しいただき、混雑を避けてください。受け取り時間は注文時に指定いただいた時間となりますので、お気を付けください。<br>
      ・問題が発生した場合：お受け取り時に何か問題がございましたら、直ちにスタッフまでお知らせください。お客様の満足度向上のため努力いたします。お受け取り時間までに来店できない場合は、あらかじめご連絡お願いいたします。<br>
      ・包装と保存方法：ケーキやデザートは鮮度を保つため、適切な包装を行います。受け取り後は商品の特性に合わせた保存方法をご案内いたしますので、ご家庭での美味しさをお楽しみください。
    </div>
  </div>
</div>