/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.col h2{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
#search-form {
  position: absolute;
  top: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0); /* 背景色を完全に透明にするには、最後の値を0に設定します */
  padding: 10px;
  text-align: center;
  z-index: 1;
}


.overlay h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #000;
}

.container img {
  opacity: 0.8;
}

 /* アニメーションの時間を設定 */
.hover-zoom {
  transition: transform 0.5s;
}
/* ホバー時に拡大する度合いを設定 */
.hover-zoom:hover {
  transform: scale(1.1);
}

body {
  background-color: #E3DCD2;
  font-family: 'Zen Maru Gothic', serif;
}

/* ページネーション全体のスタイル */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* ページネーションアイテムのスタイル */
.pagination li {
  list-style-type: none;
  margin: 0 5px;
  display: inline;
}

/* アクティブなページのスタイル */
.pagination .active {
  background-color: #8d6e63; 
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* ページリンクのスタイル */
.pagination a {
  color: #8d6e63; 
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #8d6e63;
  border-radius: 5px;
}

/* ページリンクのホバースタイル */
.pagination a:hover {
  color: #fff;
  background-color: #8d6e63;
  border-color: #8d6e63;
}
