<div class="row">
  <div class="col-2 my-4 ml-auto">
    <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, remote: true, data: { confirm: '本当に空しますか?' }, class:"btn btn-danger" %>
  </div>
</div>