<footer style="background-color: #343a40; color: white">
  <div class="container mt-5">
    <div class="row py-3 text-center">
      <div class="col-12">
        <h7>〒461-0005</h7><br>
        <i class="fa-solid fa-location-dot"></i> <h7>愛知県名古屋市東区東桜1丁目11-1</h7><br>
        <i class="fa-solid fa-clock"></i> <h7>OPEN 09:00　CLOSE 17:00</h7><br>
        <i class="fa-solid fa-phone"></i> <h7>052-962-1011</h7>
      </div>
    </div>
  </div>
</footer>