<footer style="background-color: #343a40; color: white">
  <div class="container mt-5">
    <div class="row py-3 text-center">
      <div class="col-9">
        <h7>〒000-0000</h7><br>
        <i class="fa-solid fa-location-dot"></i> <h7>愛知県名古屋市</h7><br>
        <i class="fa-solid fa-clock"></i> <h7>24時間営業</h7><br>
        <i class="fa-solid fa-circle-exclamation"></i> 定休日 月曜日<br>
        <i class="fa-solid fa-phone"></i> <h7>000-0000-0000</h7>
      </div>
      <div class="col-1">
        <i class="fa-brands fa-x-twitter"></i>
      </div>
      <div class="col-1">
        <i class="fa-brands fa-line"></i>
      </div>
      <div class="col-1 mr-auto">
        <i class="fa-brands fa-square-instagram"></i>
      </div>
    </div>
  </div>
</footer>