<table class = "table">
  <thead class="thead-light">
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
    <tr>
      <% if genre.respond_to?(:is_active) && genre.is_active == true %>
      <td>         <!--`genre`オブジェクトが`is_active`というメソッドを持っている場合にのみ実行される条件文です。-->
        <%= link_to genre.name, public_items_path(genre_id: genre.id), class: "text-primary" %>
      </td>                    <%# items_pathに引数としてgenre_idを渡す %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
